header{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: black;
    flex-direction: row;
    justify-content: space-around;
    font-size: larger;
    gap: 560px;
}
body{
    background-color: darkgrey;
    text-align: center;
    font-size: large;
}
article{
    color: rgb(0, 0, 0);
}


footer{
    display: flex;
    flex-direction: column;
    
}
nav img {
    display: flex;
    align-items: flex-start;
    margin-right: 100px;
    
}

#images{
display:flex;
justify-content: center;

}

#Languages{
    
}
