header{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: black;
    flex-direction: row;
    justify-content: space-around;
    font-size: larger;
    gap: 560px;
}
body{
    background-color: darkgrey;
    text-align: center;
    font-size: large;
}
article{
    color: rgb(0, 0, 0);
}


h1{
    text-align: center;
}
h4{
    text-align: center;
    
}
footer{
    display: block;
    grid-template-columns: 100%;
    grid-column: ;
}
nav{
    grid
}

